In [1]:
import dvc.api
import pandas as pd
import io

In [4]:


repo='https://github.com/nahomHmichael/Rossman-Pharmaceutical-Sales-Pridiction'
path='data/train_clean_data.csv'
rev='e4a81d'
data_url = dvc.api.read(path=path,repo=repo,rev=rev)
df=pd.read_csv(io.StringIO(data_url),low_memory=False)

In [5]:
df.head()

,Date,Store,DayOfWeek,Year,Month,Day,Sales,Customers,Open,Promo,...,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,date,DayOfMonth,Weekday,Weekend
0,2015-07-31,1,5,2015,7,31,5263.0,555,1,1,...,9.0,2008.0,0,0.0,0.0,0,2015-07-31,31,1,False
1,2015-07-30,1,4,2015,7,30,5020.0,546,1,1,...,9.0,2008.0,0,0.0,0.0,0,2015-07-30,30,1,False
2,2015-07-29,1,3,2015,7,29,4782.0,523,1,1,...,9.0,2008.0,0,0.0,0.0,0,2015-07-29,29,1,False
3,2015-07-28,1,2,2015,7,28,5011.0,560,1,1,...,9.0,2008.0,0,0.0,0.0,0,2015-07-28,28,1,False
4,2015-07-27,1,1,2015,7,27,6102.0,612,1,1,...,9.0,2008.0,0,0.0,0.0,0,2015-07-27,27,1,False

In [6]:
df.shape

(1017209, 25)