In [2]:
# importing libraries
import numpy as np
import pandas as pd
import datetime 
import plotly.express as px
import seaborn as sns
import plotly.graph_objects as go
from scipy import stats
sns.set()
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn import metrics
import pickle
from datetime import datetime
from pickle import dump
import mlflow
import category_encoders as ce
import mlflow
import mlflow.sklearn

import sys
sys.path.insert(0,'../scripts/')
from data_clean import DataClean
from ml_preprocessing import DataPreprocessor
import warnings
warnings.filterwarnings("ignore")

Data Preprocessing for ML

In [3]:
# loading the datasets
store = pd.read_csv('../data/store.csv')
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

In [4]:
# Merging the training dataset with the store dataset 
train_store=pd.merge(train, store, on='Store', how='inner')
test_store=pd.merge(test, store, on='Store', how='inner')

In [5]:
train_store.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

In [6]:
test_store.head()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,1,4,2015-09-17,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,857,1,3,2015-09-16,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
2,1713,1,2,2015-09-15,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
3,2569,1,1,2015-09-14,1.0,1,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
4,3425,1,7,2015-09-13,0.0,0,0,0,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN

In [7]:
train_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 18 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  object
 3   Sales                      1017209 non-null  int64
 4   Customers                  1017209 non-null  int64
 5   Open                       1017209 non-null  int64
 6   Promo                      1017209 non-null  int64
 7   StateHoliday               1017209 non-null  object
 8   SchoolHoliday              1017209 non-null  int64
 9   StoreType                  1017209 non-null  object
 10  Assortment                 1017209 non-null  object
 11  CompetitionDistance        1014567 non-null  float64
 12  CompetitionOpenSinceMonth  693861 non-null   float64
 13  CompetitionOpenSinceYear   693861 non-null   float64
 14  Promo2                     1017209 non-null  int64
 15  Promo2SinceWeek            509178 non-null   float64
 16  Promo2SinceYear            509178 non-null   float64
 17  PromoInterval              509178 non-null   object
dtypes: float64(5), int64(8), object(5)
memory usage: 147.5+ MB

In [8]:
test_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41088 entries, 0 to 41087
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Id                         41088 non-null  int64
 1   Store                      41088 non-null  int64
 2   DayOfWeek                  41088 non-null  int64
 3   Date                       41088 non-null  object
 4   Open                       41077 non-null  float64
 5   Promo                      41088 non-null  int64
 6   StateHoliday               41088 non-null  object
 7   SchoolHoliday              41088 non-null  int64
 8   StoreType                  41088 non-null  object
 9   Assortment                 41088 non-null  object
 10  CompetitionDistance        40992 non-null  float64
 11  CompetitionOpenSinceMonth  25872 non-null  float64
 12  CompetitionOpenSinceYear   25872 non-null  float64
 13  Promo2                     41088 non-null  int64
 14  Promo2SinceWeek            23856 non-null  float64
 15  Promo2SinceYear            23856 non-null  float64
 16  PromoInterval              23856 non-null  object
dtypes: float64(6), int64(6), object(5)
memory usage: 5.6+ MB

In [12]:
train_store['Date'] = pd.to_datetime(train_store['Date'])

In [13]:
clean_train_store = DataClean(train_store)

In [14]:
clean_train_store.dateParser(col='Date')

In [15]:
train_store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 21 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Date                       1017209 non-null  datetime64[ns]
 3   Year                       1017209 non-null  int64
 4   Month                      1017209 non-null  int64
 5   Day                        1017209 non-null  int64
 6   Sales                      1017209 non-null  int64
 7   Customers                  1017209 non-null  int64
 8   Open                       1017209 non-null  int64
 9   Promo                      1017209 non-null  int64
 10  StateHoliday               1017209 non-null  object
 11  SchoolHoliday              1017209 non-null  int64
 12  StoreType                  1017209 non-null  object
 13  Assortment                 1017209 non-null  object
 14  CompetitionDistance        1014567 non-null  float64
 15  CompetitionOpenSinceMonth  693861 non-null   float64
 16  CompetitionOpenSinceYear   693861 non-null   float64
 17  Promo2                     1017209 non-null  int64
 18  Promo2SinceWeek            509178 non-null   float64
 19  Promo2SinceYear            509178 non-null   float64
 20  PromoInterval              509178 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(11), object(4)
memory usage: 170.7+ MB