In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
from pandas import datetime
import matplotlib.pyplot as plt
import seaborn as sns # advanced vizs
%matplotlib inline
from statsmodels.distributions.empirical_distribution import ECDF
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from prophet import Prophet
import logging

sys.path.insert(0,'../scripts/')
from log_helper import Logger_Class
from prophet_helper import Fb_prophet
import io
import dvc.api

In [2]:
log_obj = Logger_Class('../logs/prophet.log').get_logger()

In [3]:
# repo = 'https://github.com/nahomHmichael/Rossman-Pharmaceutical-Sales-Pridiction'
# rev = 'bc0981'
# path='data/train_store_data.csv'
# data_train =  dvc.api.get_url(path=path,repo=repo,rev=rev)
# train = pd.read_csv(io.StringIO(data_train),low_memory=False)

In [ ]:
# # importing train data to learn
# train = pd.read_csv("../data/train.csv", 
#                     parse_dates = True, low_memory = False, index_col = 'Date')
# store = pd.read_csv("../data/store.csv", 
#                     low_memory = False)
# test = pd.read_csv('../data/test.csv',parse_dates=True, low_memort = False )

In [4]:
train = pd.read_csv('../data/train.csv',parse_dates=True, low_memory=False,index_col='Date')
test = pd.read_csv('../data/test.csv',parse_dates=True, low_memory=False, index_col='Date')
store = pd.read_csv('../data/store.csv',low_memory=False)
log_obj.info('loaded datasets!')

In [5]:
train.head()

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Date,,,,,,,,
2015-07-31,1,5,5263,555,1,1,0,1
2015-07-31,2,5,6064,625,1,1,0,1
2015-07-31,3,5,8314,821,1,1,0,1
2015-07-31,4,5,13995,1498,1,1,0,1
2015-07-31,5,5,4822,559,1,1,0,1

In [6]:
test.head()

            Id  Store  DayOfWeek  Open  Promo StateHoliday  SchoolHoliday
Date
2015-09-17   1      1          4   1.0      1            0              0
2015-09-17   2      3          4   1.0      1            0              0
2015-09-17   3      7          4   1.0      1            0              0
2015-09-17   4      8          4   1.0      1            0              0
2015-09-17   5      9          4   1.0      1            0              0

In [7]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [8]:
# data extraction
train['Year'] = train.index.year
train['Month'] = train.index.month
train['Day'] = train.index.day
train['WeekOfYear'] = train.index.weekofyear

# adding new variable
train['SalePerCustomer'] = train['Sales']/train['Customers']
train['SalePerCustomer'].describe()

count    844340.000000
mean          9.493619
std           2.197494
min           0.000000
25%           7.895563
50%           9.250000
75%          10.899729
max          64.957854
Name: SalePerCustomer, dtype: float64

In [9]:
train.head()

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day,WeekOfYear,SalePerCustomer
Date,,,,,,,,,,,,,
2015-07-31,1,5,5263,555,1,1,0,1,2015,7,31,31,9.482883
2015-07-31,2,5,6064,625,1,1,0,1,2015,7,31,31,9.702400
2015-07-31,3,5,8314,821,1,1,0,1,2015,7,31,31,10.126675
2015-07-31,4,5,13995,1498,1,1,0,1,2015,7,31,31,9.342457
2015-07-31,5,5,4822,559,1,1,0,1,2015,7,31,31,8.626118

In [10]:
train.isnull().sum()

Store                   0
DayOfWeek               0
Sales                   0
Customers               0
Open                    0
Promo                   0
StateHoliday            0
SchoolHoliday           0
Year                    0
Month                   0
Day                     0
WeekOfYear              0
SalePerCustomer    172869
dtype: int64

In [11]:
store.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [12]:

# Closed stores and zero sales stores
train[(train.Open == 0) & (train.Sales == 0)].shape

(172817, 13)

In [13]:
# opened stores with zero sales
zero_sales = train[(train.Open != 0) & (train.Sales == 0)]
print("In total: ", zero_sales.shape)

In total:  (54, 13)

In [14]:
# dropping closed stores and days with no sale for forcasting 
train = train[(train["Open"] != 0) & (train['Sales'] != 0)]
train.shape

(844338, 13)

In [15]:
store[pd.isnull(store.CompetitionDistance)]

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
290,291,d,a,NaN,NaN,NaN,0,NaN,NaN,NaN
621,622,a,c,NaN,NaN,NaN,0,NaN,NaN,NaN
878,879,d,a,NaN,NaN,NaN,1,5.0,2013.0,"Feb,May,Aug,Nov"

In [16]:
# fill NaN with a median value (skewed distribuion)
store['CompetitionDistance'].fillna(store['CompetitionDistance'].median(), inplace = True)

In [17]:
# no promo = no information about the promo?
no_promo= store[pd.isnull(store.Promo2SinceWeek)]
no_promo[no_promo.Promo2 != 0].shape

(0, 10)

In [18]:
# replace NA's by 0
store.fillna(0, inplace = True)

In [24]:
train_store = pd.merge(train, store, how = 'inner', on = 'Store')

print("Merged df shape: ", train_store.shape)

Merged df shape:  (844338, 22)